# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.coverage

# OS generated
.DS_Store
*/.DS_Store
*/*/.DS_Store
Thumbs.db

# Documents & temporary files
*.pdf
scripts/backup_*/
